@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url(../fonts/gilroyextrabold.woff) format("woff"),
    url(../fonts/gilroyextrabold.woff2) format("woff2");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url(../fonts/gilroylight.woff) format("woff"),
    url(../fonts/gilroylight.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/opensans.woff) format("woff"),
    url(../fonts/opensans.woff2) format("woff2");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    src: url(../fonts/opensanslight.woff) format("woff"),
    url(../fonts/opensanslight.woff2) format("woff2");
}


body {    
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #464646;    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

 .center-property {
    margin: 0 auto;
    padding: 0;
    width: 1160px;
}

/*    HEADER   */

.main-navigation {
    color: black;
    background-color: #f7e296;
    margin-top: 40px;
    padding: 0 60px;
 }

.header-site-navigation,
.button,
.pagination-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 3px;
}

.header-site-navigation,
.header-user-navigation,
.catalog-menu li {
    list-style: none;
    color: #000000;
}

.header-site-navigation a,
.header-user-navigation a,
.catalog-menu a {
    color: #000000;
}

.header-user-navigation a:hover,   
.header-site-navigation a:hover,
.catalog-menu a:hover {
    opacity: 0.6;
}

.header-user-navigation a:active,   
.header-site-navigation a:active,
.catalog-menu a:active {
    opacity: 0.3;
}

.header-user-navigation .log-out-link,
.logo-and-user-navigation-wrap .footer-log-out-link,
.header-user-navigation .log-out-link:hover,
.logo-and-user-navigation-wrap .footer-log-out-link:hover,
.header-user-navigation .log-out-link:active,
.logo-and-user-navigation-wrap .footer-log-out-link:active {
    opacity: 0.3;
}

.search-form:hover {
    opacity: 0.6;
}

.search-form:focus {
    opacity: 1.0;
}

.search-button {
    margin-right: 100px;
}

.search-and-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
    width: 540px; 
    opacity: 0.3;
}

.header-user-navigation {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 0;
}

.log-in-link {
   display: flex;
   justify-content: flex-start; 
}

.header-site-navigation {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.header-site-navigation-wrap {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.header-guaranty-link {
    margin-right: 70px;
}

.catalog-menu {
    display: flex;
    justify-content: flex-start;
}

.first-column {
    padding: 0;
}

.subtitle {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: bold;
    color: #000000; 
}

.transport-companies-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 475px;
    height: 560px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 560px;
    height: 560px;
}

.contacts img,
.transport-companies-list {
    margin-bottom: 80px;
}
.modal-write-to-us {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
}

.appointment-form input,
.appointment-form textarea {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: #464646;
    background-color: #f2f2f2;
    border: none;
}

.appointment-form input:hover,
.appointment-form textarea:hover {

}

.appointment-form input:focus,
.appointment-form textarea:focus {
border: 4px solid #f7e296;
}

.main-footer {
    color: #ffffff;
    background-color: #464646;
    padding: 67px 60px;
    height: 323px;
    box-sizing: border-box;
}

.footer-user-navigation a {
   opacity: 0.7;
}

.footer-site-navigation,
.footer-user-navigation,
.footer-social li {
    list-style: none;
}

.footer-site-navigation a,
.footer-user-navigation a {
    color: #ffffff;
}

.footer-user-navigation a:hover {
    opacity: 1.0;
}

.footer-site-navigation a:hover {
    opacity: 0.6;
}

.footer-user-navigation a:active,
.footer-site-navigation a:active {
    opacity: 0.3;
}

.footer-user-navigation {
    display: flex;
    justify-content: center;
}

.footer-compare-link,
.footer-log-in-link,
.footer-log-out-link {
    margin-right: 40px;
}

.footer-profile,
.profile {
    margin-right: 20px;
}

.footer-site-navigation {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
}

.logo-and-user-navigation-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.contacts-and-site-navigation-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.footer-address {
    order: -1;
}

.footer-delivery-link,
.footer-guaranty-link {
    margin-right: 38px;
}

.footer-social-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social ul {
    display: flex;
    justify-content: center;
}

.footer-social li {
    margin-right: 25px;
}

/* cтили для каталога */

.breadcrumbs a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000000;
    opacity: 0.3; 
}

.breadcrumbs,
.catalog-list {
    list-style: none;
}

.page-title {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: bold;
    color: #000000; 
}

.catalog a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
}

.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #464646;
}

.pagination-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    list-style: none;
}

.pagination a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.breadcrumbs a:hover {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

/*   СЕТКИ ДЛЯ КАТАЛОГА   */

.profile-wrap {
    display: flex;
}

.breadcrumbs {
    display: flex;
    align-items: flex-end;
}

.filters-and-catalog {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 328px;;
}

.catalog {
    width: 832px;
    box-sizing: border-box;
}

.catalog ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 832px;
    padding-left: 73px;
    box-sizing: border-box;
}

.catalog-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 360px;
}

.catalog-item-image {
    order: -1;
}

.catalog-item-link {
    width: 220px;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 760px;
    background-color: #ebebeb;
    padding: 10px 30px;
    margin-left: auto;
    margin-bottom: 76px;
    box-sizing: border-box;
}

.pagination .pagination-list {
    display: flex;
    justify-content: center;
}

.footer-compare-and-cart-wrap {
    display: flex;
    justify-content: flex-end;
}

.compare-link {
   margin-right: 40px; 
}



.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute; // different - for reading order in macOS VO
    display: inline-block; // new - for reading order in macOS VO
}




